.preview-pane {
	/* .preview-pane 即文章的顶级元素 */
	font-size: 16px;
	font-family: sans-serif;
	word-break: break-all;
	padding: 1rem 3rem;

	--theme: #b399ff;
	--theme-revert: #ef8b34;
	--table-head: #c2a3ea;
	--table: #eae0f8;
	--quote: #dcf6fb;
	--white-background: #f8f8f8;
	--black-font: #333;

	--code-monospace: 'Consolas', 'Lucida Console', "Courier New", "Monaco", monospace;
	--title: 'Arial', serif;

	color: var(--black-font);
	background-color: var(--white-background);

	a {
		text-decoration: none;
		color: var(--theme);
		transition: .2s;
	}

	a:hover {
		color: var(--theme-revert);
	}

	p {
		line-height: 1.8;
		margin: 1.4rem 0;
	}

	li {
		line-height: 1.8;
	}

	h1 {
		text-align: center;
		font-family: var(--title);
	}

	h1::after {
		content: '';
		display: block;
		background-color: #ccc;
		height: 1px;
		margin: 1rem;
	}

	h2 {

	}

	h2:before {
		content: "#";
		color: var(--theme);
		margin-right: .5rem;
		margin-left: -1.5rem;
	}

	h3:before {
		content: "|";
		color: var(--theme);
		margin-right: .5rem;
	}

	hr {
		margin: 1rem 0;
	}

	table {
		margin: 1rem auto;
		border-collapse: collapse;
	}

	th, td {
		padding: .5rem 1rem;
		border: 1px solid var(--black-font);
	}

	th {
		background-color: var(--table-head);
	}

	td {
		background-color: var(--table);
	}


	code {
		font: 1.1rem var(--code-monospace);
		background-color: transparent;
		padding: 0;
	}

	:not(pre) code {
		color: var(--theme);
	}

	pre code {
		line-height: 1.8em;
	}

	img {
		margin: 1rem auto;
		display: block;
		max-width: 80%;

		border-radius: .25rem;
		box-shadow: 0 0 3px #aaa;

		transition: .2s;
	}

	img:hover {
		box-shadow: 0 0 8px #555;
	}

	blockquote {
		background: linear-gradient(to bottom right, var(--quote), transparent);
		padding: .5rem 1rem;
		border-radius: 0 1rem 1rem 0;
		margin: 1rem 0;
		position: relative;
		border-left: .5rem solid var(--theme);
		color: #666;
	}

	ol, ul {
		margin-left: 1rem;
		padding-left: 0;
	}
}